@model DB.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>鸿翔业务协作平台</title>
    @Styles.Render("~/Content/assets")
    @Scripts.Render("~/bundles/assets")
</head>
<body>
    <div class="header">

        <div class="dl-title">
            <!--<img src="/chinapost/Public/assets/img/top.png">-->鸿翔业务协作系统
        </div>

        <div class="dl-log">
            欢迎您，<span class="dl-log-user">@Model.UserName|@Model.UserId.Trim()</span><a href="/home/login" title="注销" class="dl-log-quit">[注销]</a>
        </div>
    </div>
    <div class="content">
        <div class="dl-main-nav">
            <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
            <ul id="J_Nav" class="nav-list ks-clear">
                @{
                    List<HXWebApp.Models.TreeModel> menuList = ViewBag.menuList;
                    foreach (var v in menuList)
                    {
                        <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">@v.text</div></li>
                    }
                }
            </ul>
        </div>
        <ul id="J_NavContent" class="dl-tab-conten"></ul>
    </div>
    <script>
        BUI.use('common/main', function () {
            //var config = [{ "id": "1", "menu": [{ "text": "系统管理", "items": [{ "id": "12", "text": "机构管理", "href": "Node/index.html" }, { "id": "3", "text": "角色管理", "href": "Role/index.html" }, { "id": "4", "text": "用户管理", "href": "User/index.html" }, { "id": "6", "text": "菜单管理", "href": "Menu/index.html" }] }] }, { "id": "7", "homePage": "9", "menu": [{ "text": "业务管理", "items": [{ "id": "9", "text": "查询业务", "href": "Node/index.html" }] }] }];
            var config=@Html.Raw(ViewBag.menuStr);
            new PageUtil.MainPage({
                modulesConfig: config
            });
        });
    </script>
    <div style="text-align:center;">
        <hr />
        <p>&copy; @DateTime.Now.Year - 云南鸿翔一心堂药业(集团)股份有限公司</p>
    </div>
</body>
</html>
