@model DLL.Models.MainDB.SYS_ROLE_INFOModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新建</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @using (Html.BeginForm("Create", "SysRoles", FormMethod.Post, new { @class = "definewidth m20" }))
    {
        @Html.AntiForgeryToken()
        <h4>新增角色</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td width="10%" class="tableleft">@Html.LabelFor(model => model.ROLE_CODE)</td>
                <td>
                    @Html.EditorFor(model => model.ROLE_CODE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ROLE_CODE, "", new { @class = "text-danger", style = "color:red" })
                </td>
            </tr>
            <tr>
                <td class="tableleft">@Html.LabelFor(model => model.ROLE_NAME)</td>
                <td>
                    @Html.EditorFor(model => model.ROLE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ROLE_NAME, "", new { @class = "text-danger", style = "color:red" })
                </td>
            </tr>
            <tr>
                <td class="tableleft">@Html.LabelFor(model => model.CODE_FOR_STATUS)</td>
                <td>
                    @Html.DropDownListFor(model => model.CODE_FOR_STATUS,HXWebApp.Helpers.HtmlHelper.GetCodeList("STATUS", Model.CODE_FOR_STATUS??""), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CODE_FOR_STATUS, "", new { @class = "text-danger", style = "color:red" })
                </td>
            </tr>
            <tr>
                <td class="tableleft"></td>
                <td>
                    <input type="submit" class="btn btn-primary" value="保存" /> &nbsp;&nbsp;@Html.ActionLink("取消", "List", "SysRoles", null, new { @class = "btn btn-info", onclick = "javascript:window.history.go(-1); return false;" })
                </td>
            </tr>
        </table>
    }

</body>
</html>
