@model HXWebApp.Controllers.UserRolesInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户角色</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @using (Html.BeginForm("UserRoles", "SysUser", FormMethod.Post, new { @class = "definewidth m20" }))
    {
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td width="10%" class="tableleft">工号</td>
                <td>@Html.Encode(Model.userInfo.USER_USERID)@Html.HiddenFor(m => Model.userInfo.USER_USERID)</td>
            </tr>
            <tr>
                <td width="10%" class="tableleft">姓名</td>
                <td>@Html.Encode(Model.userInfo.USER_NAME)@Html.HiddenFor(m => Model.userInfo.USER_NAME)</td>
            </tr>
            <tr>
                <td class="tableleft">角色</td>
                <td>
                    <ul>
                        @if (Model.RoleInfo != null)
                        {
                            for (int i = 0; i < Model.RoleInfo.Count; i++)
                            {
                                <li>
                                    <label class='inline'>@Html.CheckBoxFor(m => Model.RoleInfo[i].Ifchecked)@Html.Encode(Model.RoleInfo[i].text)@Html.HiddenFor(m => Model.RoleInfo[i].code)</label>
                                    <ul>
                                        @if (Model.RoleInfo[i].menu != null)
                                        {
                                            for (int j = 0; j < Model.RoleInfo[i].menu.Count; j++)
                                            {
                                            <li>
                                                <label class="inline">@Html.CheckBoxFor(m => Model.RoleInfo[i].menu[j].Ifchecked)@Html.Encode(Model.RoleInfo[i].menu[j].text)@Html.HiddenFor(m => Model.RoleInfo[i].menu[j].code)</label>
                                                <ul>
                                                    @if (Model.RoleInfo[i].menu[j].items != null)
                                                    {
                                                        for (int k = 0; k < Model.RoleInfo[i].menu[j].items.Count; k++)
                                                        {
                                                        <li>
                                                            <label class="inline">@Html.CheckBoxFor(m => Model.RoleInfo[i].menu[j].items[k].Ifchecked)@Html.Encode(Model.RoleInfo[i].menu[j].items[k].text)@Html.HiddenFor(m => Model.RoleInfo[i].menu[j].items[k].code)</label>
                                                        </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tableleft"></td>
                <td>
                    <button type="submit" class="btn btn-primary">保存</button> &nbsp;&nbsp;
                    @Html.ActionLink("返回", "List", null, new { @class = "btn btn-success", onclick = "javascript:window.history.go(-1); return false;" })
                </td>
            </tr>
        </table>
    }
</body>
</html>
